section.hero {
  background: url("../assets/images/hero-background.png") no-repeat center/cover;

  height: 59.25rem;

  & nav {
    align-items: center;
    justify-content: space-between;
  }
}

@media (width <=60em) {
  section.hero {
    height: 29rem;

    nav {
      & img {
        content: url("../assets/logo-symbol.svg");
      }
    }
  }
}
