.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-10 {
  gap: 10.25rem;
}

.column {
  flex-direction: column;
}

.container {
  padding: 3.5rem 10rem 5rem 10rem;
}

.btn {
  all: unset;
  font: var(--btn-base);
  color: var(--text-title);

  height: 2.5rem;
  padding: 0rem 1.25rem;
  border-radius: 0.5rem;

  cursor: pointer;

  position: relative;

  overflow: hidden;

  z-index: 1;

  &:hover::before,
  &:focus::before {
    transform: scale(1.5, 3);
  }
}

.btn-small::before,
.btn-primary::before {
  content: "";
  background-color: var(--pink-base);
  border-radius: 100%;
  position: absolute;

  z-index: -1;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  transform: scale(0);
  transition: transform 600ms ease-in-out;
}

.btn-small,
.btn-primary {
  background-color: var(--pink-dark);
}

.btn-secondary {
  background-color: var(--blue-dark);
}

@media (width <= 60em) {
  .container {
    padding: 1.25rem;
    gap: 3rem;
  }
}
